<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Logged</title>
    </head>
    <body>
        <div>
            <h3>
                Logged as: <span th:text="${user.getLogin()}"></span>!
            </h3>
            <h5>
                Hadoop output:
            </h5>
            <h6>
                <span th:text="${output}"></span>
            </h6>
        </div>
        <a href="/logout">Logout</a>
    </body>
</html>

